@model List<Vidly.Models.Customer>
@{
                /**/

                ViewBag.Title = "Customers";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Membership Type</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
             <tr>
                <td>@customer.Id</td>
                <td><u>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</u></td>
                 <td>@customer.MembershipType.Name</td>
             </tr>
            }
        </tbody>
    </table>
}

